[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-extensions = "*"
django-test-without-migrations = "*"
ipython = "*"
pre-commit = "*"
black = "==18.9b0"

[packages]
django = "*"
python-decouple = "*"
djangorestframework = "*"
dj-database-url = "*"
gunicorn = "*"
dj-static = "*"

[requires]
python_version = "3.7"
